<!DOCTYPE html>
<html>
  <head>
    <title><%= task_number %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= task_number %></h1>
    <p><%= subtext %></p>
    <br />
    <h3>Description :</h3>
    <p><%= description %></p>
    <br />
    <h3>Guidelines :</h3>
    <p><%= guidelines %></p>
    <br />
    <h3>Submission Criteria:</h3>
    <p><%= submission %></p>
  </body>
</html>
